.main-container {
  display: flex;
  margin: auto;
  flex-direction: row;
  background-color: gray;
  justify-items: center;
  padding: 4em;
  align-items: center;
}
button {
  width: 100px;
  height: 100px;
}
input {
  width: 25px;
  height: 25px;
}
label:hover,
input:hover,
button {
  cursor: pointer;
}
.list-container {
  width: 200px;
  font-size: 2em;
}
.unordered-list {
  list-style-type: none;
}
